h1 { margin-bottom: 30px;}

h3 { margin: 0 25px;}

main p { 
    padding: 25px;
    text-align: justify;
}

main a { text-decoration: underline; }

@media (min-width:769px) {

    h3 { margin: 0; }

    main p { 
        padding: 25px 70px;
        font-size: 1rem;
    }
}
