/*  VERSION DESKTOP  */

.admin-container {display: flex; }

.admin-content { flex: 1; }

.stats {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--seccolor);
    color: var(--bgcolor);
    padding: 20px;
    border-radius: 5px;
    width: 200px;
}

.card h2, p { text-align: center; }