/* ----------- VERSION MOBILE ----------- */

h1 { margin: 0 0 30px; }

#infos h3, #alertes h3, #registered_events h3 { font-weight: bold; }

.ancre { display: none; }

.sep{
    display: block;
    height: 1px;
    width: 90%;
    background: linear-gradient(90deg, var(--bgColor) 0%, var(--mainColor) 30%, var(--mainColor) 70%, var(--bgColor) 100%);
    justify-self: center;
    margin: 20px 0;
}


/* ----------- INFO PERSO ----------- */

#infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.infos_perso {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#infos img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.pp_pers{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}

.pers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pers span { font-weight: bold; }

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* ----------- POP-UP ----------- */

#popup-delete, #popup-edit {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.277);
    z-index: 1;
}
#popup-delete.open, #popup-edit.open { display: block !important; }
#popup-edit button {width: 130px;}
#popup-delete button {width: 110px;}
#popup-edit, #popup-delete button {
    margin-top: 10px;
}
.popup-btn { 
    display: flex;
    justify-content: center;
    gap: 20px;
}
#popup-edit img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.popup-content {
    max-width: 650px;
    width: 80%;
    padding: 15px;
    background: var(--txtBlanc);
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup-edit .popup-content { max-width: 750px;}

.popup-content p {
    color: var(--txtBlack);
    font-weight: bold;
    padding: 20px 0;    
}

body.dark .popup-content { background-color: rgb(48, 46, 46);}

body.dark .popup-content p, body.dark .popup-content h3 { color: var(--txtBlanc);}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

form input, .file-button {
    margin: 0 auto;
    height: 30px;
    border-radius: 5px;
    background-color: var(--bgColor);
    border: 1px solid var(--txtBlack);
    font-family: Lato;
    padding-left: 5px;
}

form input {width: 250px;}

.file-button {
    width: 230px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    background-color: var(--mainColor);
    color: var(--txtBlanc);
    text-transform: uppercase;
}

.editInfosPers label{ margin-left: 20px; }

.update {
    display: flex;
    gap: 50px;
}

.editInfosPers, .editPP {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.editPP { align-items: center;
    justify-content: space-evenly;
    gap: 0;
}

form label { font-weight: normal; }

.editMdp label { margin-top: 10px;}

.modifs {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2px;
}

.editPP .modifs { height: 50px; }

span {text-decoration: underline;}

.editUsername h3, .editEmail h3, .editMdp h3 { margin-bottom: 15px;}
.editUsername h3, .editEmail h3, .editMdp h3, .editPP h3 { font-weight: bold; }
    

/* ----------- ALERTES ----------- */

#alertes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.artistes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    row-gap: 20px;
    justify-items: center;
}

.band {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_name img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.logout { 
    text-transform: uppercase;
    justify-self: center;
    margin-top:60px;
}

.img_name {
    display: flex;
    align-items: center;
    gap: 20px;
}

#follow { padding: 5px 5px 3px; }

#follow svg { 
    width: 13px;
    height: 12px;
 }


/* ----------- EVENTS -----------  

#registered_events { 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    text-align: center;
    justify-items: center;
}

.events p {
    font-size: 0.8rem;
    padding: 10px;
    text-align: justify;
}

.show {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liked {
  fill: var(--mainColor);
  transform: scale(1.2);
  transform-origin: center;
  transition: transform 0.2s ease, fill 0.2s ease;
} */


/* ----------- VERSION TABLETTE ----------- */

@media (min-width: 426px) {

    .infos_perso { 
        flex-direction: row;
        align-items: center;
    }

    .pp_pers{
        flex-direction: row;
        gap: 30px;
        text-align: left;
    }

    .pers { width: 250px; }
    
    .popup-content {
        width: 100%;
        padding: 30px;
    }

    .php { align-items: flex-start;}
}


/*  VERSION 1024  */

@media (min-width: 769px) {

    h1 { margin-bottom: 30px; }

    /* .ancre {
        display: flex;
        height: 23px;
        gap: 100px;
        justify-content: center;
    }

    .ancre h3 { font-weight: bold; } */

    #infos h3, #alertes h3, #registered_events h3 { font-weight: normal; }

    .sep { margin: 40px 0; }

    .sep2 {margin: 0; }
    
    .infos img {
        width: 125px;
        height: 125px;
    }

    .infos_perso { gap: 100px; }

    .pp_pers{
        gap: 40px;
        font-size: 1rem
    }

    .pers {
        flex-direction: column;
        gap: 10px;
        width: 300px;
    }

    .btns { gap: 15px; }
  
    .artistes { grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr)); }

    .band { width: 350px; }

    #follow { padding: 8px 8px 5px; } 

    #follow svg {
        width: 15px;
        height: 14px;
    }

    .img_name img {
        width: 60px;
        height: 60px;
    }

    .img_name { 
        gap: 20px;
        font-size: 1rem;
    }

    /* .events { grid-template-columns: repeat(auto-fill, minmax(31rem, 1fr)); }

    .events p { font-size: 1rem; }

    .show { width: 400px; } */

}






