/*  VERSION MOBILE  */

form {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

form input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--bgColor);
    border : 1px solid var(--txtBlack); 
    font-family: Lato;
    padding-left: 10px;
}

.form input::placeholder { font-size: 0.8rem; }

form label {
    text-transform: uppercase;
    margin: 15px 0 5px 15px;
    transform: translatey(12px);
    background-color: var(--bgColor);
}

span[id^='error'] {
    font-size: 0.7rem;
    margin-top: 5px;
    text-align: center;
    color: rgb(149, 54, 73);
    font-weight: bold;
}

form textarea {
    width: 300px;
    height: 150px;
    border-radius: 5px;
    background-color: var(--bgColor);
    border : 1px solid var(--txtBlack); 
    resize: none;
    color: var(--txtBlack); 
    padding: 10px;
    font-family: lato;
}

form button {
    margin-top: 25px;
}

form p {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}




@media (min-width: 769px ) {

    form input { width: 375px; }

    form textarea { width: 375px; }

}

