/*  VERSION MOBILE  */

form {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

form input {
    width: 310px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--bgColor);
    border : 1px solid var(--txtBlack); 
    font: 1rem Lato;
    padding-left: 10px;
}

.form input::placeholder { font-size: 0.8rem; }

form label {
    font-size: 1rem;
    margin: 15px 0 5px 15px;
    transform: translatey(13px);
    background-color: var(--bgColor);
}

span[id^='error'] {
    font-size: 0.7rem;
    margin-top: 5px;
    text-align: center;
    color: rgb(149, 54, 73);
    font-weight: bold;
}

form textarea {
    width: 310px;
    height: 150px;
    border-radius: 5px;
    background-color: var(--bgColor);
    border : 1px solid var(--txtBlack); 
    resize: none;
    color: var(--txtBlack); 
    padding: 10px;
    font: 1rem lato;
}



form button {
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: var(--mainColor); 
    border: none;
    font: 1rem lato;
    color: var(--txtBlanc); 
    text-transform: uppercase;
    cursor: pointer;
}


form p {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}



/*  VERSION TABLETTE & DESKTOP */

@media (min-width: 769px ) {

    form { margin-top: 30px;}

    form input { width: 350px; }

    form textarea { width: 350px; }

}

