.home { 
    padding: 0 20px;
    align-content: center; 
}

.sep{
    display: block;
    height: 1px;
    width: 90%;
    background: linear-gradient(90deg, var(--bgColor) 0%, var(--mainColor) 30%, var(--mainColor) 70%, var(--bgColor) 100%);
    justify-self: center;
    margin: 30px 0 35px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 25px;
    align-items: center;
}

.show, .lastAjout {
    background-color: white;
    height: 300px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

body.dark .show, body.dark .lastAjout {
    background-color: var(--mainColor);
    box-shadow: none;
}

.lastAjout { gap: 15px; }

.live { 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cta { 
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--mainColor);
    color: var(--txtBlanc);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

@media (min-width:426px) {
    
    .cards { 
        flex-direction: row;
        gap: 35px;
    }

    .show, .lastAjout { width: 330px; }

    .cta { padding: 30px; }
}


@media (min-width:769px) {

    .sep { margin: 35px 0 40px; }

    .cards { gap: 100px; }

    .show, .lastAjout { width: 370px; }

    .cta { 
        height: 135px;
        margin-top: 40px; 
    }

}

