/*  VERSION MOBILE  */

#main { margin: 0 0 25px; }

.home { 
    height: 150px;
    align-content: center; 
    margin: 0 20px;
}

.sep{
    display: block;
    height: 1px;
    width: 90%;
    background: linear-gradient(90deg, var(--bgColor) 0%, var(--mainColor) 30%, var(--mainColor) 70%, var(--bgColor) 100%);
    justify-self: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 25px;
    margin: 25px 0;
    align-items: center;
}

.show, .lastAjout {
    background-color: white;
    height: 320px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.live { 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    background-color: var(--mainColor);
    color: var(--txtBlanc);
 }

.btn, .cta_btn {
    padding: 10px 15px;
    align-self: center;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.cta_btn { background-color: var(--bgColor); }

.cta { 
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--mainColor);
    color: var(--txtBlanc);
    text-align: center;
    padding: 20px;
}

@media (min-width:426px) {

    .home { margin: 0 80px; }
    
    .cards { 
        flex-direction: row;
        margin: 50px 0; 
        gap: 35px;
    }

    .show, .lastAjout { width: 330px; }

    .cta { padding: 30px; }
}


@media (min-width:769px) {

    .home { margin: 0; }

    .cards { gap: 100px; }

    .show, .lastAjout { width: 370px; }

}

@media (min-width:1025px) {

    .cards { gap: 100px; }

    .show, .lastAjout { 
        width: 450px;
        height: 400px;
        padding: 50px 0;
        font-size: 1rem;
    }

    .cta { 
        height: 160px;
        font-size: 1rem; 
    }

    .btn, .cta_btn {padding: 15px 20px; }

    

}