/*  VERSION MOBILE  */

form {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

form input {
    width: 310px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--bgColor);
    border : 1px solid var(--txtBlack); 
    font-family: Lato;
    padding-left: 10px;
}

form input::placeholder { font-size: 0.8rem; }

form label {
    font-size: 1rem;
    margin: 15px 0 5px 15px;
    transform: translatey(13px);
    background-color: var(--bgColor);
}

span[id^='error'] {
    font-size: 0.7rem;
    margin-top: 5px;
    text-align: center;
    color: rgb(149, 54, 73);
}

.cgu {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-top: 5px;
}

form button {
    margin-top: 20px;
}



/*  VERSION DESKTOP  */

@media (min-width: 769px ) {

    form input { width: 350px; }

    .cgu { 
        gap: 10px;
        margin-top: 10px;
    }

}

