main { margin: 0; }

.sidebar {
    width: 180px;
    height: 80vh;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 30px 0;
}

.sidebar li { padding-left: 20px; }

.btn { 
    background-color: var(--bgColor);
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    align-self: center;
    margin: 30px 0;
}

.btn a { color : var(--txtBlack); }






