@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font : 0.8rem Lato;
    background-color: #efefef;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
}

section {
    max-width: 770px;
    width: 90%;
    overflow-x: auto;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

fieldset {
    display: flex;
    gap: 15px;
    padding: 20px;
    border-radius: 5px;
}

.addField {flex-direction: column;}

.fields {
    flex-wrap: wrap;
    justify-content: space-between;
}

legend {
    text-transform: uppercase;
    font-weight: bold;
}

input {
    width: 150px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 5px;
}

button {
    border: none;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
}


.tab_container {
    overflow-x: auto;
}

table {
    min-width: 600px;
    width: 100%;
    border-collapse: separate; 
    border-spacing: 1px;        
    border-radius: 10px;       
    overflow: hidden;            
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr { 
    text-align: center; 
    background-color: whitesmoke;
    min-height: 50px;
    text-transform: uppercase;
}



